
.container {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
}



.leva1{
    position: absolute;
    padding-left: 4%;
    padding-top: 0.8%;
    order:  1;
}

.leva2{
    position: absolute;
    padding-left: 2%;
    padding-top: 70%;
    order: 2;
}
.leva3{
    position: absolute;
    padding-left: 2%;
    padding-top: 100%;
    order: 3;
}

.image-container {
    position: relative;
    display: inline-block;
    width: 100%; /* Ensure the container takes up the full width */
    height: 100%; /* Ensure the container takes up the full height */
    overflow: hidden; /* Hide overflow to prevent scroll bars */
    border-radius: 10px;
}

.image-container img {
    width: 90%; /* Make the image fill the entire container */
    height: auto;
    display: block; /* Make sure the image is block level */
}

.row {
    display: flex;
    align-items: center;
}


/*NOVA KODA */
.row:nth-child(3){
    margin-top: 10%;
    background-color: rgb(221, 120, 25);

}

.row:nth-child(3) .content p {
    text-align: center; 
    font-size: 2em;
    color: white;
    margin: auto;
    padding: 10px;
}


/* -------------- ROW 3 ------------ */
.row:nth-child(4){
    margin-top: 10%;
}

.row:nth-child(4) .content h1{
    position: relative;
    font-family: 'Pacifico', cursive;
    font-size: 2.5em;
    color: #fdd700;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    margin-top: -10%;
    margin-left: 25%;
}

.row:nth-child(4) .content p {
    font-size: 1.4em;
    font-family: 'roboto', sans-serif;
    color: #333;
    line-height: 1.5;
    width: 90%;
    padding-top: 5%;
    right: -20%;
}

#tovornjak-kras {
    position: relative;
    display: inline-block;
    width: 100%;    
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.content {
    padding: 20px;
    text-align: left;
}

.row:nth-child(2) .content h1 {
    position: relative;
    font-family: 'Pacifico', cursive;
    font-size: 2.5em;
    color: #fdd700;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    margin-top: -10%;
    margin-left: 25%;
}

.row:nth-child(2) .content p {
    font-size: 1.4em;
    font-family: 'roboto', sans-serif;
    color: #333;
    line-height: 1.5;
    width: 90%;
    padding-top: 5%;
    right: -20%;

}

.row:nth-child(5){
    margin-top: 10%;
    background-color: rgb(221, 120, 25);

}

.row:nth-child(5) .content p {
    text-align: center; 
    font-size: 2em;
    color: white;
    margin: auto;
    padding: 10px;
}

.row:nth-child(6){
    margin-top: 10%;
}

.row:nth-child(6) .content h1{
    position: relative;
    font-family: 'Pacifico', cursive;
    font-size: 2.5em;
    color: #fdd700;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    margin-top: -10%;
    margin-left: 25%;
}

.row:nth-child(6) .content p {
    font-size: 1.4em;
    font-family: 'roboto', sans-serif;
    color: #333;
    line-height: 1.5;
    width: 90%;
    padding-top: 5%;
    right: -20%;
}

.row:nth-child(7){
    margin-top: 10%;
    background-color: rgb(221, 120, 25);

}

.row:nth-child(7) .content p {
    text-align: center; 
    font-size: 2em;
    color: white;
    margin: auto;
    padding: 10px;
}

.row:nth-child(8){
    margin-top: 10%;
}

.row:nth-child(8) .content h1{
    position: relative;
    font-family: 'Pacifico', cursive;
    font-size: 2.5em;
    color: #fdd700;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    margin-top: -10%;
    margin-left: 25%;
}

.row:nth-child(8) .content p {
    font-size: 1.4em;
    font-family: 'roboto', sans-serif;
    color: #333;
    line-height: 1.5;
    width: 90%;
    padding-top: 5%;
    right: -20%;
}


/* Galerija */
.gallery-container {
    padding: 50px 15px;
}

.thumbnail {
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.thumbnail img {
    width: auto;
    max-width: 100%;
    margin-right: 20px; 
}

.thumbnail .caption {
    padding: 15px;
    text-align: justify; 
}

.thumbnail h4 {
    margin-top: 0;
}

.thumbnail p {
    margin-bottom: 15px;
}

/* Gumb "See More" */
.thumbnail .btn-primary {
    display: inline-block;
    color:#444;
    background-color: white;
    border: 2px solid rgb(255, 196, 0);
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.btn-primary:hover {
    background-color: orange; 
    border-color: orange; 
    color: #fff; 
}




/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    padding: 10px 0;
    border-bottom: 1px solid #e1e1e1;
}

/* Top banner styles */
.top-banner {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
    color: #333;
    padding: 5px 20px;
    font-size: 0.9em;
}

.top-banner_right-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    left: 100%;
    position: relative;
}

.top-banner_right-side .text-link {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.top-banner_right-side .text-link img {
    margin-right: 5px;
}

.top-banner_right-side img.icon {
    height: 20px;
    margin-right: 10px;
}

/* Navbar customization */
.navbar-default {
    background-color: #ffffff;
    border: none;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    margin-right: 10px;
}

.navbar-brand span {
    font-family: 'Lobster', cursive; 
    transition: opacity 0.5s;
    font-size: 150%;
    display: none;
    
}

.navbar-nav>li>a {
    font-size: 16px;
    color: #555;
    border-radius: 20px; /* Add rounded corners */
    border: 2px solid transparent; /* Add border */
    padding: 10px 20px; /* Increase padding for better spacing */
    
}

.navbar-nav>li.active a {
    color: #333;
}

.navbar-nav>li>a:hover {
    background-color: #f4f4f4; /* Change background color on hover */
    color: #333;
    border-color: #fdd700; /* Change border color on hover */
}


/* BESEDILO V SREDINI */
/* CSS za 'Poglej si več...' povezavo */
.row .content a {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #ffcc00;
    color: #333; 
    text-decoration: none;
    border-radius: 5px; 
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.row .container a:hover {
    background-color: #ff9900;
    color: #fff;
}



/* Dropdown menu styles */
.dropdown-menu {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-menu>li>a {
    color: #555;
    font-size: 16px;
}

.dropdown-menu>li>a:hover {
    background-color: #f4f4f4;
    color: #333;
}


/* Footer styles */
footer {
    background-color: #333; 
    color: #fff; 
    padding: 20px;
    font-size: 0.8em;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-section {
    margin-right: 20px;
    color: #fdd700;
}

.footer-section h3 {
    color: #fdd700; 
}

.footer-bottom {
    text-align: center;
    margin-top: 10px;
    font-size: 0.8em;
    border-top: 1px solid #444; 
    padding-top: 10px;
    color: #ccc; 
}

/* Link styles within footer */
footer a, footer a:hover, footer a:focus {
    color: #fdd700; 
    text-decoration: none;
}
/* Responsive adjustments */
@media (max-width: 991px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-section {
        margin-bottom: 20px;
    }

    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: none;
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-collapse.collapse.in {
        display: block !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .leva1, .leva2, .leva3 {
        position: static;
        padding: 0;
        margin-top: 20px; /* Add space between the images and content above */
        display: none;
    }

    .leva1 {
        order: 1;
    }

    .leva2 {
        order: 2;
    }

    .leva3 {
        order: 3;
    }
}
/* Link styles */
a, a:hover, a:focus {
    text-decoration: none;
    color: inherit;
}

/* Utility classes */
.img-responsive {
    max-width: 100%;
    height: auto;
}

.large-container {
    max-width: 1140px;
    margin: auto;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.text-link {
    display: flex;
    align-items: center;
}

.d-none {
    display: none;
}

.d-xl-flex, .d-md-inline {
    display: flex;
}

.text-link--black {
    color: #333;
}

/* Additional Responsive adjustments */
@media (max-width: 767px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-section {
        margin-bottom: 20px;
    }

    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: none;
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-collapse.collapse.in {
        display: block !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .leva1, .leva2, .leva3 {
        position: static;
        padding: 0;
        margin-top: 20px; /* Add space between the images and content above */
        display: none;
    }

    .leva1 {
        order: 1;
    }

    .leva2 {
        order: 2;
    }

    .leva3 {
        order: 3;
    }

    .content p {
        font-size: 1em;
        padding-top: 2%;
    }

    .content h1 {
        font-size: 1.5em;
        margin-top: 0;
        margin-left: 0;
        text-align: center;
    }

    .content {
        padding: 10px;
    }
}


/* MEDIA TOP BANNER */
/* Media query for tablets and smaller devices */
@media (max-width: 768px) {
    .top-banner_inner {
        flex-direction: column;
        text-align: center;
    }

    .top-banner_right-side {
        margin-top: 10px;
    }

    .text-link {
        flex-direction: column;
    }

    .text-link .icon {
        margin: 0 0 10px 0;
    }
}

/* Media query for mobile devices */
@media (max-width: 480px) {
    .top-banner {
        padding: 5px 0;
    }

    .top-banner_inner {
        padding: 0 10px;
    }

    .top-banner_right-side {
        margin-top: 5px;
    }

    .text-link .icon {
        margin-bottom: 5px;
    }

    .text-link span {
        font-size: 14px;
    }
}
